<!doctype html >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>320 Base</title>
<link rel="stylesheet" href="css/style320.css" type="text/css">
<style type="text/css">

</style>
  
  </head>
<body >
<div id="main">
<div id="cap">
<div id="langs"><a href="#">EE</a> &nbsp;&nbsp;<a href="#">RU</a> &nbsp;&nbsp;<a href="#">EN</a> &nbsp;&nbsp;</div>
cap
</div>
<div id ="menu">

<a href="#">About</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="#">Regisration</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="#">Login</a>
	
</div>

<div id="hero">
	<div id="heroProp">
     <img src="../img/heroes/ez.png" id="heroImg"  alt="avatar" >  Hero's properties</div>
	<div id="heroAllTop">
		<a href="#">Heroes</a>
	
	</div>

</div>
<div id="field"> <br><br><br>Game field</div>

</div>
</body>
</html>
