<!doctype html >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>750 Base</title>
<link rel="stylesheet" href="css/style750.css" type="text/css">
<style type="text/css">
</style>

  
  </head>
<body  >
<div id="main">
<div id="cap">
	<div id="langs"><a href="#">EE</a> &nbsp;&nbsp;<a href="#">RU</a> &nbsp;&nbsp;<a href="#">EN</a> &nbsp;&nbsp;</div>
cap</div>
<div id ="menu">
	<div id="menuLeft">

<a href="#">About</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="#">Regisration</a>
	</div>
	<div id="menuRight">User <input type="text" class="klient">&nbsp;&nbsp;&nbsp;Password <input type="password" class="klient">&nbsp;&nbsp;&nbsp;<input type="button" value="Go">
	</div>
     <div class="bu"></div>
</div>
<div id="hero">
	<div id="heroProp">
    <img src="../img/heroes/ez.png" id="heroImg" alt="avatar" >
    Current Hero's properties ... 
    
    </div>
	<div id="heroAllTop">
		<div class="heroAllDet"><a href="#">All heroes</a></div>
		<div class="heroAllDet"><a href="#">Create hero</a></div>
        <div class="bu">
        </div>
	
	</div>

</div>
<div id="field"> <br><br><br> Game field</div>

</div>
</body>
</html>
